/* @font-face {
	font-family: "Transforma";
	src: url("../assets/font/TransformaSans_Trial-Light.ttf");
	font-style: normal;
	font-weight: 200;
	font-display: swap;
}
@font-face {
	font-family: "Transforma";
	src: url("../assets/font/TransformaSans_Trial-Medium.ttf");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: "Transforma";
	src: url("../assets/font/TransformaSans_Trial-Regular.ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Transforma";
	src: url("../assets/font/TransformaSans_Trial-SemiBold.ttf");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "Transforma";
	src: url("../assets/font/TransformaSans_Trial-Bold.ttf");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: "Transforma";
	src: url("../assets/font/TransformaSans_Trial-Black.ttf");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
} */
